body {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background: #000;
  color: white;
}

main {
  display: flex;
  text-align: center;
  flex-direction: column;
  box-shadow: 3px 3px 5px 0px rgba(0, 128, 0, 1);
  max-width: 60%;
  margin: 0 auto;
  padding: 2rem;
}

img {
  width: 20%;
  height: fit-content;
  margin-top: 5rem;
}

.track {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: rgba(0, 128, 0, 1);
}

a:hover {
  color: blueviolet;
}
